<div class="details">
    <div class="left-side-detail">
        <div class="left-box">
            <div class="left-rect">
                <img class="get-paid" src="../../../../assets/Get Paid Instantly.png">
                <h4>Quick Cash disbursement</h4>
                <p>get term loan that your business needs in 72 hours</p>
            </div>
            <div class="left-rect">
                <img class="get-paid" src="../../../../assets/Get Paid Instantly.png">
                <h4>Low Interest rate</h4>
                <p>Acheive your financial goals with an amazing<br /> interest rate starting at 13% per annum</p>
            </div>
            <div class="left-rect">
                <img class="get-paid" src="../../../../assets/Get Paid Instantly.png">
                <h4>Zero Paperwork</h4>
                <p>Get Started Instantly by submitting <br /> only your basic details & bank statements</p>
            </div>

        </div>
        <div class="right-boxes">
            <div class="right-rect">
                <img class="get-paid" src="../../../../assets/Get Paid Instantly.png">
                <h4>Ace your business finances</h4>
                <p>Manage banking, accounting & <br />everything in between, on one platform<br /></p>
            </div>
            <div class="right-rect">
                <img class="get-paid" src="../../../../assets/Get Paid Instantly.png">
                <h4>Loans to fight COVID-19</h4>
                <p>Zero EMI for first 3 months on<br /> Back-to-Business loans of upto 1 lakh<br /></p>
            </div>
        </div>
    </div>
    <div class="right-side-detail">

        <img src="../../../../assets/Boost your business.svg">
        <div class="underline-rect">
        </div>
        <p class="right-content">Get your hands on a term loan that’s <br />crafted for your business</p>
        <button type="button" mat-stroked-button #Login>Get an Open Account</button>
    </div>
</div>